<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
    {% load static %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'Users/css/bootstrap.min.css' %}">
    <style type="text/css">
  
    </style>
</head>
<body>
    <div class="container">
    		<div class="row">
			{% if messages %}
						<ul>
							{% for message in messages %}
								<li>{{message}}</li>
							{% endfor %}
						</ul>
					{% endif %}
			</div>
    		<div class="row">
		    <div class="col-3">
				<div class="row"><h3>Register New User</h3></div>
				<form action='/users/create' class='form-horizontal' method='post' scope="col-6">
					{% csrf_token %}
					<label for="first_name">First Name:</label>
					<input type='text' class="form-control" name='first_name' value = "{{request.session.first_name}}"><br>
					


					<label for="last_name">Last Name:</label>
					<input type='text' class="form-control" name='last_name' value = "{{request.session.last_name}}"><br>
					
					<label for="email">Email address:</label>
					<input type='text' class="form-control" name='email' value = "{{request.session.email}}">

					<label for="password">Password:</label>
					<input type='password' class="form-control" name='password' ><br>

					<label for="password_conf">Confirm Password:</label>
					<input type='password' class="form-control" name='password_conf' ><br>
					
					<input type="submit" name="newusersubmit">
				</form>
			</div>
			<div class="col-3">
				<div class="row"><h3>Login Existing</h3></div>
				<form action='/users/submitLogin' class='form-horizontal' method='post' scope="col-6">
					{% csrf_token %}
					
					<label for="email">Email address:</label>
					<input type='text' class="form-control" name='email' >

					<label for="password">Password:</label>
					<input type='password' class="form-control" name='password' ><br>
					
					<input type="submit" name="newusersubmit">
				</form>
			</div>
		</div>
		
	</div>
    <script type="text/javascript" src="{% static 'Users/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'Users/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'Users/js/bootstrap.min.js' %}"></script>        
</body>
</html>